<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css">
    <link href='https://fonts.googleapis.com/css?family=Risque' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <h1 id = "logo"></h1>
    <div class = "container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/shows">Home</a>
    </div>
        <ul class = "nav navbar-nav navbar-right">
              <% if (currentUser) { %>
              <li><a href="#"><%= currentUser.username %></a></li>
              <li><a href="/signout">Sign Out</a></li>
              <% } else { %> 
              
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <% } %>
        </ul>
        </div>
        </nav>
        <div id = 'content'>