<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Risque' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>

    <div id = 'page' class = "container">
        <h1>Anikioku - アニ記憶</h1>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/shows">Home</a>
                </div>
                <ul class = "nav navbar-nav navbar-right">
                <% if (user) { %>
                    <li><a href="#"><%= user.username %></a></li>
                    <li><a href="/signout">Sign Out</a></li>
                    
                    <% } else { %> 
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        
        <div id = 'content'>
            <% if (error && error.length > 0) { %>
            <p class = 'alert alert-danger'><%= error %></p>
            <% } %>
            <% if (success && success.length > 0) { %>
            <p class = 'alert alert-success'><%= success %></p>
            <% } %>
            