<% include ../partials/header.ejs %>


    <h1>Anime<a href='/shows/new' class="btn btn-primary pull-right">Add an Anime</a></h1>



    <div class='row'>

        <% var numColumns = 3; var interval = shows.length/numColumns; var start = 0; var end = Math.ceil(interval) %>
        <% for (var i = 0; i < 3; i++) { %>
            <div class='col-md-4'>

                <% shows.slice(start,end).forEach(function (show){ %>
                
                    <div class='col-md-12'>
                        <a href='/shows/<%= show._id %>/screenshots'>
                            <%= show.title %>
                        </a>
                    </div>
                    
                <% }) %>
                
            </div>
            
            <% start= end; if (i < (shows.length % numColumns) - 1) { %>
                <%  end += Math.ceil(interval) %>
            <% } else {%>
                <% end += Math.floor(interval) %>
             <% } %>
             
        <% } %>

    </div>


    <% include ../partials/footer.ejs %>
